*
!.gitignore
!bot-vip-classique/
!bot-vip-classique/**

bot-vip-classique/.env
bot-vip-classique/data/state.json
bot-vip-classique/data/state.json.tmp
bot-vip-classique/data/runtime.lock
bot-vip-classique/data/*.log
bot-vip-classique/data/media/*
!bot-vip-classique/data/media/.gitkeep
!bot-vip-classique/data/media/portrait-emma.jpg
!bot-vip-classique/data/media/apercu-emma.jpg
!bot-vip-classique/data/media/apercu-bikini-emma.jpg
!bot-vip-classique/data/media/apercu-lingerie-emma-2.jpg
!bot-vip-classique/data/media/miroir-emma-1.jpg
!bot-vip-classique/data/media/miroir-emma-2.jpg
!bot-vip-classique/data/media/portrait-emma-2.jpg
!bot-vip-classique/data/media/1c904398-df33-4a27-a3b5-ec7bee82d5df.mp4
!bot-vip-classique/data/media/2b4dc95e-7d60-4012-b627-9359a86c154e.jpg
!bot-vip-classique/data/media/5137809a-02a5-4c39-bdfb-5d5af11137a6.mp4
!bot-vip-classique/data/media/758183e5-a128-4222-b617-7addcf499bce.mp4
!bot-vip-classique/data/media/7c094a01-6c06-42ae-a487-393c78c1cc1c.jpg
!bot-vip-classique/data/media/83603038-b220-40e5-9c82-169b86d274a6.jpg
!bot-vip-classique/data/media/87136fa4-e253-48e2-bc63-62cf64709355.jpg
!bot-vip-classique/data/media/9fbf6189-3116-4361-a14c-7e2a498790b6.jpg

bot-vip-classique/node_modules/
bot-vip-classique/vv/
